@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.realbody {
    background-color: white;
    color: black;
    font-family: 'Montserrat', Arial;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    height: 100%;
    scrollbar-width: none;
}

.realbody.dark-mode {
    background-color: black;
    color: white;
    font-family: 'Montserrat', Arial;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    height: 100%;
    scrollbar-width: none;
}

.realbody.dark-mode textarea {
    color: white;
}

table {
    border: 1px solid black;
    border-collapse: collapse !important;
    text-align: center !important;
}

thread,tr,td,tbody,th {
    border: 1px solid black ;
    border-collapse: collapse !important;
    text-align: center !important;
}

.dark-mode-table {
    border: 1px solid white !important;
    border-collapse: collapse !important;
    text-align: center !important;
}

.realbody.dark-mode::-webkit-scrollbar {
    display: none;
}

.realbody img {
    filter: invert(100%);
}

.realbody img.no-invert {
    filter: none;
}

.realbody.dark-mode img {
    filter: invert(0%);
}

.realbody::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: turquoise;
}

.attribution {
    position: fixed;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    text-decoration: none;
}

.centertitle {
    padding-top: 50px;
    text-align: center;
}

.centertitle h1,
.centertitle h3,
.centertitle h5 {
    font-family: 'Montserrat', Arial;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.centertitle>*:first-child {
    margin-top: 30px;
}

.centertitle>*:last-child {
    margin-bottom: 30px;
}


.chatbot {
    position: fixed;
    display: flex;
    flex-direction: column;

    right: 10px;
    bottom: 10px;
}

#chatbotMostlyMainDiv.dark-mode {
    background-color: rgb(25, 25, 25);
}

#chatbotMostlyMainDiv {
    background-color: #E5E9F0;
}

.chatbot >* {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

.chat-messages>* {
    padding-top: 15px;
    padding-left: 5px;
}

.chatbot>*:last-child {
    margin-top: 10px;
    align-self: flex-end;
}


.chat {
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

.pfp-chat {
    position: relative;
    background-color: white;

    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.pfp-chat.dark-mode {
    position: relative;
    background-color: black;

    width: 40px;
    height: 40px;
    border-radius: 20px;
}


.chat-wrapper {
    display: flex;
    align-items: center;
    
}

.chat-wrapper>*:first-child {
    align-self: flex-start;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.chat-wrapper p {
    margin: 0;
    padding-left: 10px;
}

.pfp-chat img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.chatbot > .chat > .chat-messages {
    height: 85%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatbot > .chat > .chat-messages::-webkit-scrollbar {
    display: none;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #E5E9F0;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}

.topbar.dark-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}

#articlePopulate {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#articlePopulate li {
    margin: 0 10px;
}

#mdArticle {
    overflow-y: scroll;
    -ms-overflow-style: none;
    height: auto;
    scrollbar-width: none;
}

#mdArticle::-webkit-scrollbar {
    display: none;
}

.padding {
    padding: 30px;
}

.text-ai-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 10px;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-ai-input:focus {
    outline: none;
}

.text-ai-input::-webkit-scrollbar {
    display: none;
}

.chat-input.dark-mode {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 93.5%;
    height: 15%;
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 93.5%;
    height: 15%;
    background-color: #E5E9F0;
    color: black;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.chat-input input {
    width: 80%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.chat-input button {
    width: 20%;
    height: 100%;
    border: none;
    background-color: #1f9978;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.checkbox-div * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: rgb(55, 55, 55);
    width: 50px;
    height: 24px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {color: #f1c40f;}
.fa-sun {color: #f39c12;}

.checkbox-label .ball {
    background-color: #fff;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(26px);
}

