@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: turquoise;
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.centertitle {
    padding-top: 10px;
    text-align: center;
}

.centertitle h1,
.centertitle h3,
.centertitle h5 {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.centertitle>*:first-child {
    margin-top: 30px;
}

.centertitle>*:last-child {
    margin-bottom: 30px;
}


.chatbot {
    position: absolute;
    display: flex;
    flex-direction: column;

    right: 10px;
    bottom: 10px;
}

.chatbot >* {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

.chat-messages>* {
    padding-top: 15px;
    padding-left: 5px;
}

.chatbot>*:last-child {
    margin-top: 10px;
    align-self: flex-end;
}

.chat {
    width: 300px;
    height: 400px;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
}

.pfp-chat {
    background-color: black;
    position: relative;
    
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.chat-wrapper {
    display: flex;
    align-items: center;
}

.chat-wrapper>*:first-child {
    align-self: flex-start;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.chat-wrapper p {
    margin: 0;
    padding-left: 10px;
}

.pfp-chat img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.chatbot > .chat > .chat-messages {
    height: 85%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatbot > .chat > .chat-messages::-webkit-scrollbar {
    display: none;
}

#mdArticle {
    overflow-y: scroll;
    -ms-overflow-style: none;
    max-height: 450px;
    min-height: none;
    height: auto;
    scrollbar-width: none;
}

#mdArticle::-webkit-scrollbar {
    display: none;
}


.text-ai-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding-left: 10px;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-ai-input:focus {
    outline: none;
}

.text-ai-input::-webkit-scrollbar {
    display: none;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 93.5%;
    height: 15%;
    background-color: rgb(25, 25, 25);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.chat-input input {
    width: 80%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.chat-input button {
    width: 20%;
    height: 100%;
    border: none;
    background-color: #1f9978;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

